// WHITE
// $background: #F0F4F7;
// $header: #FFFFFF;
// $search_border: #F2F2F2;
// $important: #1DB954;
// $primary_inactive: #6C748D;

// DARK
$background: #393e46;
$header: #232931;
$search_border: #2e2f33;
$important: #1db954;
$primary_inactive: rgba(255, 255, 255, 0.38); // #6C748D;
$primary: rgba(255, 255, 255, 0.87);
$medium: rgba(255, 255, 255, 0.6);
$disabled: rgba(255, 255, 255, 0.38);
